<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"> IDEA BOARD APPLICATION</h1>
    <h2 class="description"> Stay in touch with your ideas &amp; don't let your illumination moments go away!</h2>
    <div class="video">
      <%= get_video_iframe('https://vimeo.com/97996476', '560px', '315px%') %>
    </div>
    <h3 class="description">This multimedial website is designed to collect creative inspirations and innovative ideas in one place and in different formats:<br>text, graphics and video.</h2>
  </div>
</div>
