<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"> IDEA PORTFOLIO </h1>
    <p>
      Stay in touch with your ideas &amp; don't let your illumination moments go away.!
    </p>
  </div>

  <%= get_video_iframe('https://vimeo.com/97996476', '1600px', '900px') %>

</div>
