<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"> Project notebook </h1>
    <p>
    This project is about sharing informations/knowledge/ideas with yrself,
    it's about memorise, about <strong>capturing the memory &amp; ideas.</strong>
     Society diving into ocean of information
    loose capacity to memorise. More informations we got, worst memory we got?
    Fuck informations, we should to select, to be strict, to be extremly criticlal.
    Do u feel like me you don't want to...
    Just focus on &amp; keep yr easy going mind.

    U need to relax, i want u to hear yr own voice.

    <strong>Simplicity of the form.</strong> Me, like a creator, i don't want to bomard people with tones of options,
    i would like to create sth <strong>super simple but very effective.</strong>


    We are different, so if u want to share this information with someone else,
    sur, we've got this feature &amp; u've got this possibility, we share,
    we talk, we interchange we are information society.
    </p>
  </div>
</div>
